body {
  background-color: transparent;
}

.widget-holder {
  padding: 15px;
}

.fl-widget-provider {
  width: 100%;
  height: 24px;
  border: none;
}

.data-source-query {
  min-height: 24px;
  margin-bottom: 0;
}

.chart-height-mobile-label,
.chart-height-md {
  display: none;
}

.chart-heights.separate .chart-height-mobile-label {
  display: inline;
}

.chart-heights.separate .chart-height-md {
  display: block;
}